@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    position: relative;
}

body {
    background: #F2F0F0;
}

input, [contenteditable="true"], textarea {
    @apply bg-transparent outline-none focus:outline-none;
}
